{% extends "layout.html" %}
{% block body %}
	{% if session.logged_in %}
		{% for note in note %}
		<form action=/note/update/{{note.id}} method=post class='edit-note'>
			
			<dl>
				<dt> Title: </dt>
					<dd><input type=text size=30 name='title' value='{{ note.title }}'/></dd>
				<dt> Text: </dt>
					<dd>
					<div class="wmd-panel">
            		<div id="wmd-button-bar"></div>
					<textarea class="wmd-input" id="wmd-input" name='text' rows=5 cols=40>{{ note.text|safe }}</textarea> 
					</div>
        			<div id="wmd-preview" class="wmd-panel wmd-preview"></div>
					</dd>
				
				<dt> Tags (<em>comma delimted</em>) </dt>
					<dd><input type=text size=30 name='tags' value='{{ note.tags }}'/></dd>
				<dd><input type=submit value='Update'/> </dd>
			</dl>
			
		</form>
		{% endfor %}
	{% else %}
		<p class"message">Log in to edit a note.</p>

	{% endif %}

 
{% endblock %}